<div class="media shot_header">
  <div class="pull-left">
    <img class="media-object" ng-src="{{shots.player.avatar_url}}">
    <p>&nbsp;</p>
  </div>
  <div class="media-body">
    <h2>{{shots.title}}</h2>
    <span class="muted">by: </span> <a href="#/players/{{shots.player.username}}">{{shots.player.username}}</a> |
    {{shots.created_at | myAppCtrlrDate:"MMM d, yyyy" }}  |
    <span><i class="glyphicon glyphicon-eye-open"></i> viewed {{ shot.views_count }} </span>  |
    <span><i class="glyphicon glyphicon-heart"></i> {{ shot.likes_count }} likes </span>  |
    <span><i class="glyphicon glyphicon-flash"></i>{{ shot.player.comments_count}} comments</span>
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="shot_image" ng-src="{{shots.image_url}}">
  </div>
</div>