@charset "utf-8";
/* CSS Document */
#top-search-query {	border: 2px solid #bbb9aa;}
#stacked-featured-popular  {background-image: url(images/faux-cols.gif); width: 934;overflow:auto; margin-bottom:0;}
#stacked-featured-popular .split-home, #stacked-featured-popular .split-home .column-two { width: 610px; }
#stacked-featured-popular .search-pod { margin-left: 615px; }
#fma { height:300px; width: 940px;}

/* Services - start */
.servicesLeft, .servicesCenter, .servicesRight { border-top: 2px solid #5B4468; float: left; margin: 12; padding: 5px 0 0; padding-bottom:20px; width: 276px;}
dt.serviceTitle1, dt.serviceTitle2, dt.serviceTitle3  {border-bottom: 1px dotted #cccccc; font-weight:bold; font-size:16px; margin-bottom: 1px; padding-bottom: 0px; text-transform:none; width: 100%;}	
  dt.serviceTitle1 {color:#14ADB8;}
  dt.serviceTitle2 {color:#f7989b;}
  dt.serviceTitle3 { color:#d06e05;}
.servicesLeft dt, .servicesCenter dt, .servicesRight dt, .servicesFull dt { clear: both; float: left; height: 1.5em;}
.servicesLeft dd, .servicesCenter dd, .servicesRight dd, .servicesFull dd { float: right;}
.servicesCenter, .servicesRight {margin-left: 40px;}
.servicesFull {	 border-top: 2px solid #5B4468; float: left; margin: 12; padding: 5px 0; padding-bottom:10px; width: 910px;}
.clear {clear: both;}
/* end service */

 /* product styles */
.product-details .details .image {border: none;}
#fma h1{line-height: 26px; padding: 235px 0 25px 25px; overflow: hidden; height:300px; display:block;}
.pod { border-radius: 2px 2px 2px 2px; background:none;}
.product-grid-item:hover {background-color: #fff;}
.product-grid-item:hover .image {background-color: #fff;}

 /* Cart */
.product-list-item .image img {border: 0;}
#atc-form input[type=text] {border-color: #333}
fieldset input[type=text], fieldset input[type=password], fieldset textarea, .field {border-color: #333}
.cart-header {width:880px;}

/* Nav */
#top {border-bottom:0px;}
#header-menu li { border-left: 1px solid white;}
#top-menu   { text-transform:none;}
#top-menu a { padding: 0 16px 0 20px; border-right: 1px solid #FFFFFF; border-left: none; padding-left:18px; padding-right:18px;}
#top-menu ul a { width: 146px;}

/* Home */
.split-home .home-box {	margin-top: 20px; margin-left:2px;}
.promotions-bottom { padding-left:24px; background-color:#DADADA;}
.pod li { color: #666666;}
#home-wrapper {	background-color:transparent; background-image: none;}
#header-wrapper { background-color:transparent;}
#top-wrapper { background-color:transparent;}
#fma-wrapper {	background-color:transparent; overflow: hidden;}
#stacked-featured-popular-wrapper { background-color:transparent; background-image:none; margin-bottom:0; padding-bottom:0;}
#content-wrapper { background-color:transparent; background-image: none;}
#footer-wrapper {background-color:transparent;}
.content {	background-color:#fff;}
#content-wrapper .content { background-color:#fff;}
#footer-wrapper .content { background-color:#dadada;}
#footer-wrapper .content ul { margin-left: 34px;}
#sidebar { display: none !important;}
#info-content-body {width:318px;}
#page {	margin-left: 0 !important; margin-right: 0 !important;}
.ie7 #add-fields .buttons { overflow: visible;}
pre { display:none }
pre { text-align: left; overflow: visible }

/* Set Styles for image rotator */
div #fma { background:none; }

/* HEADER */
#headerimgs
.headerimg { background-position: left top; background-repeat: no-repeat; width:940px; height:300px; position:absolute; }
.pictured  {background-color: rgba(255,255,255,0.6); color:#333333; font-size:12px; padding:2px 10px; float:left; text-transform:uppercase; text-align:right; display:block; clear:both; margin-top:8px; margin-left:10px; min-width:100px; }
/* HEADER TEXT */
#headertxt { width:940px; margin:0 auto; clear:both; position:relative; top:230px; left:12px; }
#firstline {color:#ffffff; font-size:38px; line-height: 26px; padding:1px 6px 1px 10px; float:left; display:block;  }
#secondline{color:#ffffff; font-size:30px; line-height: 26px; padding:3px 12px 1px 18px; float:left; display:block; clear:both; }
.break { clear:both;  }
/* HOME */
#introRight { margin-top:44px;}